<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NextStatic" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>
        <rule name="PublicFilesFromPublic" stopProcessing="true">
          <match url="^(brand|uploads)/(.*)" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/public/{R:1}/{R:2}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}/{R:2}" />
        </rule>
        <rule name="PublicFiles" stopProcessing="true">
          <match url="^(brand|uploads|file\.svg|globe\.svg|next\.svg|vercel\.svg|window\.svg)/(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="NextApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode node_env="production" />
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".avif" />
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
  </system.webServer>
</configuration>
