@import "tailwindcss";
@import "../styles/typography.css";
@import "../styles/utilities.css";

:root {
  /* LIGHT THEME */

  --background: #f7f3ee;
  --surface: #ffffff;

  --primary: #c49a6a;
  --primary-hover: #b5895f;

  --text-primary: #2a241f;
  --text-secondary: #6f655d;

  --border: #e7dfd7;

  --success: #3f7d58;
  --danger: #b85042;

  --radius: 20px;
}

.dark {
  /* ESPRESSO DARK THEME */

  --background: #1f1b18;
  --surface: #2b2622;

  --primary: #c49a6a;
  --primary-hover: #ddb383;

  --text-primary: #f3ede7;
  --text-secondary: #b8ada1;

  --border: #3a342f;

  --success: #5f9c76;
  --danger: #d46a5d;
}

* {
  border-color: var(--border);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);

  font-family: Arial, Helvetica, sans-serif;

  min-height: 100vh;
}
